body{
  background-color: teal;

}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: auto;
    border: 15px solid darkslategrey;
    padding: 10px;
    border-radius: 10px;
    background-color: darkslategray;
    position: absolute;
    top: 15%;
    left: 50%;
  
 
  }
  
  .display {
    width: 90%;
    height: 50px;
    border: 1px solid #000;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid ;
    color: white;
    border: 2px solid beige;
    background-color: darkkhaki;
    
  }
  
  .complete-operation {
    width: 90%;
    min-height: 30px;
    border: 1px solid #000;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    font-size: 0.8rem;
    overflow: auto;
    border-radius: 5px;
    border: 2px solid beige;
    color: white;
    background-color: darkkhaki;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  
    
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border:1px solid white;
    background-color: bisque;
    font-weight: bold;
  }

  .buttons :hover {
   background-color: rgb(201, 137, 54);
   font-size: 1.2em;

  }
  